body {
    background-color: white;
}
h4 {
    color: #BB99DD;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #BB99DD;

}

.center {
    text-align: center;
}

.bordas {
    padding: 100px 50px;
}

p {
    border: 1px solid #BB99DD;
    margin: 50px;
    padding: 20px;
}